:root {
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    text-align: center;
    font-size: 1.4rem;
    padding: 1.2em 0;
}

.container {
    color: aqua;
    display: flex;
    justify-content: space-evenly;
    gap: 5em;
}

.button-container,
.content {
    text-align: center;
}

button {
    padding: 1em 2.5em;
    margin: 0 0.5em;
    border: none;
    font-size: 1em;
    font-weight: 800;
    border-radius: 20px;
    background-color: rgb(186, 216, 240);
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(157, 194, 224);
}

.gameboard {
    display: grid;
    margin: 2em;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    border: 2px solid rgb(83, 83, 83);
    background-color: #f2f8f8;
}

.cell {
    border: 1px solid rgb(149, 153, 152);
    position: relative;
}

.damaged,
.missed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.damaged::after,
.missed::after {
    content: '';
    position: absolute;
    width: 2vmin;
    height: 2vmin;
    border-radius: 100%;
}

.damaged::after {
    background-color: red;
}

.missed::after {
    background-color: black;
}

.winner {
    margin: auto;
    text-align: center;
    border-radius: 20px;
    padding: 2em 3em;
}

.winner-msg {
    margin-bottom: 0.5em;
}

.ship-box {
    z-index: 2;
    left: 0;
    top: 0;
    border: 2px solid #00f;
    border-radius: 20px;
    background: rgba(0,0,255,.07);
    position: absolute!important;
    margin: -1px;
}

.sunk-ship {
    border: 2px solid rgb(247, 14, 14);
    background-color: rgba(0,0,255,.07);
}

.ship-box__placeholder {
    border: 2px solid #27992b;
    background: rgb(154, 248, 157);
}